@charset "UTF-8";

/* NAV TABS */
#nav-tabs {
    margin-top: 8rem;
    margin-bottom: 3rem;
}

.nav-tabs {
    border: none !important;
}

#nav-tabs .nav-item {
    border: none !important;
}

#nav-tabs .nav-item .nav-link {
    color: #747474;
    font-size: 1.5rem;
    -webkit-transition: 0.1s all ease;
    -o-transition: 0.1s all ease;
    transition: 0.1s all ease;
}

#nav-tabs .nav-item .active.active {
    color: #005cb9;
}

/* OVERVIEW CONTAINER */
.about-content {
    margin-bottom: 8rem;
}

.about-content:last-child {
    margin-bottom: 0;
}

#nav-overview p {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    line-height: 1.75;
    color: #747474;
}

.about-img {
    width: 100%;
    height: 0;
    padding-top: calc(1080 / 1920 * 100%);
    background: url('/image/slide_02.png') center center / cover no-repeat;
}

/* HISTORY CONTAINER */
#nav-history .timeline {
    position: relative;
    width: 100%;
}

#nav-history .timeline h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

#nav-history .timeline p {
    font-size: 1.5rem;
    color: #747474;
    margin-bottom: 0;
}

#nav-history .timeline .content-remark {
    font-size: 1.25rem;
}

#nav-history .timeline::after {
    content: '';
    position: absolute;
    width: 4px;
    background-color: #005cb9;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -2px;
}

#nav-history .timeline-container {
    position: relative;
    background-color: inherit;
    width: 50%;
}

#nav-history .timeline-container::after {
    content: '';
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    right: -0.75rem;
    background-color: #fff;
    border: 4px solid #005cb9;
    top: 1rem;
    border-radius: 50%;
    z-index: 1;
}

#nav-history .timeline .dot-left {
    left: 0;
    padding-right: 2rem;
}

#nav-history .timeline .dot-right {
    left: 50%;
    padding-left: 2rem;
}

#nav-history .timeline .dot-left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 1.125rem;
    width: 0;
    z-index: 1;
    right: 1.5rem;
    border: medium solid #F2F2F2;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #F2F2F2;
}

#nav-history .timeline .dot-right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 1.25rem;
    width: 0;
    z-index: 1;
    left: 1.5rem;
    border: medium solid #F2F2F2;
    border-width: 10px 10px 10px 0;
    border-color: transparent #F2F2F2 transparent transparent;
}

#nav-history .timeline .dot-right::after {
    left: -0.75rem;
}

#nav-history .timeline-container .content {
    padding: 2rem 2rem;
    background-color: #F2F2F2;
    border-radius: 0.5rem;
}

/* BUTTON TABS */
#btn-tabs {
    margin-bottom: 8rem;
}

#btn-tabs .nav-item {
    width: 25%;
    padding: 0 0.5rem;
}

#btn-tabs .nav-item:first-child {
    padding-left: 0;
}

#btn-tabs .nav-item:last-child {
    padding-right: 0;
}

#btn-tabs .nav-link {
    font-size: 1.25rem;
    color: #747474;
    border: none;
    border-radius: 6px;
    background-color: transparent;
    border: 1px solid #ddd;
    padding: 0.5rem 0;
    width: 100%;
}

#btn-tabs .nav-link.active {
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    background-color: #005cb9;
}

/* PHILOSOPHY CONTAINER */
#nav-philosophy h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 3rem;
}

#nav-philosophy p {
    font-size: 1.5rem;
    color: #747474;
    margin-bottom: 0;
}

#nav-vision .listBox {
    background-color: #f2f2f2;
    border-radius: 0.5rem;
    border: 0.5px solid #eee;
    padding: 1.5rem 0 1.5rem 2rem;
    margin-bottom: 1.5rem;
}

#nav-vocation h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 3rem;
}

#nav-vocation h2:last-child {
    margin-bottom: 0;
}

#nav-vocation h4,
#nav-talents h4 {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 2rem;
}

#nav-vocation .bottom-item,
#nav-talents .bottom-item {
    border: 1px solid #ddd;
    background-color: #005cb9;
    border-radius: 0.5rem;
    padding: 3rem 2.5rem;
    height: 100%;
}

#nav-vocation .bottom-item p,
#nav-talents .bottom-item p {
    color: #fff;
    margin-bottom: 0;
}

#nav-vocation .bottom-item p br,
#nav-talents .bottom-item p br {
    display: none;
}

#nav-care p {
    margin-bottom: 1.5rem;
}

#nav-care p:last-child {
    margin-bottom: 0;
}

#nav-care .panel {
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    background-color: #005cb9;
}

#nav-care .panel .panel-heading {
    align-items: center;
    padding: 2rem;
}

#nav-care .panel .panel-heading a {
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    width: 100%;
}

#nav-care .panel .panel-heading i {
    font-size: 2rem;
    color: #fff;
}

#nav-care .panel .panel-body {
    padding: 2rem;
    background-color: #f2f2f2;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

#nav-care .panel .panel-body p {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0;
}

/*--- Talents ---*/
/* #nav-talents .bottom-item br {
    display: none;
} */
