@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


*,
*:before,
*:after {
    box-sizing: border-box;
}

* {
    outline: none;
}

.init * {
    -webkit-transition: none !important;
    transition: none !important;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif !important;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #222;
    background-color: #fff;
}

h1, h2, h3, h4, h5, p {
    font-family: 'Poppins',
    sans-serif !important;
}

a,
a:link,
a:visited,
a:hover,
a:focus {
    font-family: 'Poppins',
    sans-serif !important;
    color: #222;
    font-weight: 400;
    text-decoration: none;
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

hr {
    padding: 0;
    margin: 0;
    border: 0;
    border-bottom: 1px solid #eee;
}

.mainColor-font {
    color: #005cb9 !important;
}

.basicColor-font {
    color: #222 !important;
}

.mainColor-bg {
    background-color: #005cb9;
}

.content-inner {
    width: 100%;
    max-width: 1194px;
    margin: 0 auto;
}

section {
    margin-bottom: 8rem !important;
}

section hr {
    margin-bottom: 8rem;
}

@media (min-width: 320px) and (max-width: 374.9px),
(min-width: 375px) and (max-width: 767.9px) {

    .content-inner {
        padding: 0 1rem;
    }

    section {
        margin-bottom: 4rem !important;
    }

    section hr {
        margin-bottom: 2rem;
    }

}

@media (min-width: 768px) and (max-width: 1023.9px) {

    .content-inner {
        padding: 0 1.5rem;
    }

    section {
        margin-bottom: 4rem !important;
    }

    section hr {
        margin-bottom: 4rem;
    }

}

@media (min-width: 1024px) and (max-width: 1280px) {

    .content-inner {
        padding: 0 2rem;
    }

    section {
        margin-bottom: 6rem !important;
    }

    section hr {
        margin-bottom: 4rem;
    }

}