@charset "UTF-8";

.content-inner {
    width: 100%;
    max-width: 1194px;
    margin: 0 auto;
}

section {
    margin-bottom: 8rem !important;
}

/* NAVIGATION-PC */

#header-pc {
    width: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    transition: background-color 0.3s ease,
        box-shadow 0.3s ease;
    border: none;
}

#header-pc .navbar-brand {
    display: inline-block;
    vertical-align: middle;
    padding-top: 0;
    margin-bottom: 0;
    margin-right: 0;
}

#header-pc .logo {
    fill: #fff !important;
    height: 1.5rem;
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

#header-pc .logo:hover {
    fill: #BE9B5F !important;
}

#header-pc .navbar-nav .nav-link {
    padding: 1rem 1.5rem !important;
    font-size: 1.5rem !important;
    color: #fff;
}

#header-pc .navbar-nav .nav-link:hover {
    color: #BE9B5F !important;
}

#header-pc .dropdown {
    background-color: #005cb9;
    margin-left: 1rem !important;
    border: none !important;
    border-radius: 5rem !important;
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

#header-pc .dropdown-toggle::after {
    display: none !important;
}

#header-pc .dropdown .dropdown-link {
    display: block;
    font-size: 1rem !important;
    color: #fff;
    padding: 0.25rem 1rem !important;
}

#header-pc .dropdown .icofont-simple-down {
    display: inline-block;
    margin-left: 0.5rem;
}

#header-pc .dropdown .dropdown-menu[data-bs-popper] {
    margin-top: 0.125rem !important;
}

#header-pc .dropdown .dropdown-menu {
    min-width: 8rem;
}

#header-pc .dropdown .dropdown-menu .dropdown-item {
    font-size: 1rem !important;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

#header-pc .search-btn {
    background-color: transparent;
    border: none;
}

#header-pc .search-btn>i {
    color: #fff;
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

#header-pc .lang>ul>li>a:focus,
#header-pc .lang>ul>li>a:active,
#header-pc .lang>ul>li>a:hover {
    color: #fff;
    font-weight: 400;
    text-decoration: underline;
}

/* NAVIGATION-MO */

#header-mo {
    position: fixed;
    top: 0;
    left: 0px;
    z-index: 1000;
    width: 100%;
    height: auto;
    padding: 1rem 0;
    transition: 0.3s ease-in-out;
}

#header-mo .logo {
    display: block;
    margin-left: 0.75rem;
    fill: #fff !important;
    height: 1.125rem;
}

#header-mo:after {
    content: "";
    display: block;
    clear: both;
}

#header-mo:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: auto;
}

#header-mo .nav-button {
    height: auto;
    display: block;
    padding-top: 0.125rem;
    background-color: transparent;
    cursor: pointer;
}

#header-mo .nav-button>span {
    display: block;
    width: 20px;
    height: 2px;
    margin-top: 4px;
    transform-origin: 50% 50%;
    transition: all 0.3s ease;
    background-color: #fff !important;
}

#nav {
    overflow-y: scroll;
    visibility: hidden;
    position: absolute;
    top: 4rem;
    left: 0;
    width: 100%;
    height: calc(100% - 50px);
    min-height: 667px;
    opacity: 0;
    align-items: center;
    transition: 0.3s ease-in-out;
    padding: 0 1rem;
}

.nav-open #header-mo {
    overflow-y: scroll;
    height: 100%;
}

.nav-open #header-mo:before {
    background-color: transparent;
}

.nav-open #header-mo .nav-button>.bar1 {
    transform: translateY(6px) rotate(-45deg);
}

.nav-open #header-mo .nav-button>span:nth-child(2) {
    opacity: 0;
}

.nav-open #header-mo .nav-button>span:nth-child(3) {
    transform: translateY(-6px) rotate(45deg);
}

.nav-open #nav {
    visibility: visible;
    opacity: 1;
}

.nav-open #header-mo,
.nav-open #nav {
    background-color: #005cb9;
}

#nav .nav-item {
    border-bottom: 1px solid #ddd;
}

#nav>ul {
    padding-left: 0;
}

#nav>ul>li>a {
    display: block;
    width: 100%;
    font-size: 1.5rem !important;
    padding: 1.5rem 0;
    color: #fff;
}

#nav>ul>li>a:focus {
    color: #BE9B5F;
}

#header-mo .search-btn {
    display: block;
    background-color: transparent;
    border: none;
    padding: 0 !important;
    margin: 0 !important;
}

#header-mo .search-btn>i {
    font-size: 1.25rem;
    color: #fff !important;
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

#nav .lang {
    padding-top: 2rem;
}

#nav .lang>ul {
    padding-left: 0;
}

#nav .lang>ul>li>a {
    color: #ddd;
    font-weight: 200;
    padding-right: 1.5rem;
}

#nav .lang>ul>li>a:focus,
#nav .lang>ul>li>a:active,
#nav .lang>ul>li>a:hover {
    color: #fff;
    font-weight: 400;
    text-decoration: underline;
}


/* CAROUSEL-SLIDE */

#carousel .carousel-text h1 {
    color: #fff !important;
    font-weight: bold;
}

#carousel .carousel-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

#carousel .carousel-img {
    width: 100%;
    height: 0;
    padding-top: calc(1080 / 1920 * 70%);
}

#carousel .slide-01 {
    background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)),
        url('/image/slide_01.jpg') center center / cover no-repeat;
}

#carousel .slide-02 {
    background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)),
        url('/image/slide_02.png') center center / cover no-repeat;
}

#carousel .carousel-button {
    background-color: transparent;
    padding: 0.75rem 1.5rem;
    border: 2px solid #fff;
    border-radius: 2rem;
    margin-top: 3.5rem;
}

#carousel .carousel-button:hover {
    background-color: #BE9B5F;
    border: 2px solid #BE9B5F;
    transition: all 0.3s ease;
}

#carousel .carousel-button a {
    font-size: 1.5rem;
    color: #fff;
}

#carousel .carousel-button a:hover {
    color: #fff;
}

#carousel .control {
    position: relative;
}

#carousel .control-inner {
    position: absolute;
    bottom: 3em;
    display: flex;
}

#carousel .control .control-prev,
#carousel .control .control-next {
    font-size: 1.5rem;
    color: #fff;
}

#carousel .control-prev:focus,
#carousel .control-next:focus {
    color: #BE9B5F;
    font-weight: 400;
}

#carousel .control-prev:hover,
#carousel .control-next:hover {
    color: #BE9B5F;
    font-weight: 400;
}

#carousel .control-prev {
    padding-right: 1rem;
}

#carousel .control-next {
    padding-left: 1rem;
}


/* BRAND CAROUSEL */

section h1 {
    display: block;
    text-align: center;
    margin-top: 8rem;
    margin-bottom: 4rem;
}

#brandCarousel {
    display: flex;
    overflow: scroll;
    overflow: hidden;
    overflow-x: auto;
    -ms-overflow-style: none;
    /* Hide the scrollbar for MS Edge */
    scrollbar-width: none;
    /* Hide the scrollbar for Mozilla Firefox */
    height: fit-content;
    width: fit-content;
    width: 100%;
}

#brandCarousel::-webkit-scrollbar {
    display: none;
    /* Hide the scrollbar on Webkit based browsers (Chrome, Safari, etc) */
    -webkit-overflow-scrolling: touch;
    /* On touch screens the content continues to scroll for a while after finishing the scroll gesture */
}

#brandCarousel .brand-item {
    min-width: 24%;
    margin: 0 0.25rem;
    text-align: center;
    border-radius: 50%;
}

#brandCarousel .brand-item h4 {
    font-size: 1.75rem !important;
}

#brandCarousel .brand-item p {
    font-size: 1.25rem !important;
}

#brandCarousel .brand-item:first-child {
    margin-left: 0;
}

#brandCarousel .brand-item:last-child {
    margin-right: 0;
}

#brandCarousel .brand-img {
    background-color: #ddd;
    width: 100%;
    height: 0;
    padding-top: calc(100% - 100px);
    margin-bottom: 2rem;
    background-size: cover;
    background-position: center;
}

#brandCarousel .more-btn {
    background-color: #005cb9;
    border: none;
    border-radius: 4rem;
    padding: 0.25rem 2rem;
    margin: 1rem 0;
}

#brandCarousel .more-btn a {
    font-size: 1rem !important;
    color: #fff;
}

#brandCarousel .more-btn a:hover {
    color: #fff;
}


/* FOOTER */

footer {
    padding: 3rem 0 !important;
    background-color: #222;
}

footer .company {
    font-weight: 600;
    margin-bottom: 1rem !important;
}

footer .footer-content {
    margin-bottom: 1rem !important;
}

footer p,
footer a {
    font-size: 1rem !important;
    color: #fff !important;
}

footer span {
    font-size: 1rem;
    font-weight: lighter;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
}

.copyright {
    color: #747474 !important;
}

.nav-scroll {
    background-color: #005cb9 !important;
    box-shadow: 5px -1px 12px -5px black !important;
}