@charset "UTF-8";


/* BUTTON TABS */

@media (max-width: 1023.9px) {

.nav-item {
    width: 47%;
    margin: 0 0.5rem 0.5rem 0;
    flex-wrap: wrap;
}
}

@media (min-width: 1024px) {
.nav-item {
    width: 49%;
    margin: 0 0.5rem 0.5rem 0;
    flex-wrap: wrap;
}
}

#btn-tabs {
    margin-top: 8rem;
    margin-bottom: 7rem;
}


#btn-tabs .nav-item:first-child {
    padding-left: 0;
}

#btn-tabs .nav-item:last-child {
    padding-right: 0;
}

#btn-tabs .nav-link {
    font-size: 1.5rem;
    color: #747474;
    border-radius: 0.5rem;
    background-color: transparent;
    border: 1px solid #ddd;
    padding: 0.5rem 0;
    width: 100%;
}


#btn-tabs .nav-link.active {
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    background-color: #005cb9;
}


/* PRODUCT CONTAINER */
.product-content {
    margin-bottom: 6rem;
}

.product-content:nth-child(3),
.product-content:nth-child(4) {
    margin-bottom: 0;
}

.product-list h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.product-info {
    padding: 0 1rem;
}

.product-info h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.product-info h3 {
    font-size: 1.75rem;
    font-weight: bold;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #ddd;
}

.product-info h4 {
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.125rem;
}

.product-info p {
    font-size: 1.125rem;
    color: #747474;
    margin-bottom: 1.25rem;
}

.product-info p:last-child {
    margin-bottom: 0;
}

.product-info .product-item {
    margin-bottom: 1rem;
}
.product-info .product-item:last-child {
    margin-bottom: 0;
}

.product-info .remark {
    font-size: 1rem;
    margin-bottom: 0;
}

/* PRODUCT IMAGE */
.product-content .thumb {
    margin-bottom: 3rem;
    padding: 4rem;
    background-color: #f2f2f2;
}

.product-content .img {
    width: 100%;
    height: 0;
    padding-top: calc(1 / 1 * 100%);
}

/* FILLER IMAGE */
.img-keen-cozy {
    background: url('/image/keen_01.png') center center / cover no-repeat;
}
.img-keen-vivid {
    background: url('/image/keen_02.png') center center / cover no-repeat;
}
.img-keen-sublime {
    background: url('/image/keen_03.png') center center / cover no-repeat;
}
.img-dazur {
    background: url('/image/dazur_01.png') center center / cover no-repeat;
}
.img-rjns-sparkle {
    background: url('/image/rjns_01.png') center center / cover no-repeat;
}
.img-rjns-fine {
    background: url('/image/rjns_02.png') center center / cover no-repeat;
}
.img-rjns-deep {
    background: url('/image/rjns_03.png') center center / cover no-repeat;
}
.img-rjns-shape {
    background: url('/image/rjns_04.png') center center / cover no-repeat;
}

.img-xspurt-breeze {
    background: url('/image/xspurt_01.png') center center / cover no-repeat;
}

.img-xspurt-climax {
    background: url('/image/xspurt_02.png') center center / cover no-repeat;
}

.img-xspurt-finale {
    background: url('/image/xspurt_03.png') center center / cover no-repeat;
}

/* COSMETIC IMAGE */
.img-cellnoc-cart {
    display: none;position: absolute;
}

#cellnoc_product:hover img {
        display: block;
    }

.img-cellnoc-toner {
    background: url('/image/cellnoc_01.png') center center / cover no-repeat;
    position: relative;
}

.img-cellnoc-ampoule {
    background: url('/image/cellnoc_02.png') center center / cover no-repeat;
    position: relative;
}


.img-cellnoc-cream {
    background: url('/image/cellnoc_03.png') center center / cover no-repeat;
    position: relative;
}

/* BOOSTER IMAGE */
.img-gemvous {
    background: url('/image/gemvous_01.png') center center / cover no-repeat;
}

/* Gloves IMAGE */
.img-gloves {
    background: url('/image/gloves_01.png') center center / cover no-repeat;
}