@charset "UTF-8";

section .content-inner hr {
    margin: 8rem 0;
}

/* SUPPORT CONTAINER */
#support-content {
    margin-top: 8rem;
    margin-bottom: 3rem;
}

#support-content .support-title {
    margin-bottom: 4rem;
}

#support-content .support-title h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

#support-content .support-title p {
    font-size: 1.5rem;
    color: #747474;
}

#support-content .support-button .support-link {
    display: block;
    border-radius: 0.5rem;
    padding: 2rem;
}

#support-content .support-button .support-item h3 {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
}

#support-content .support-button .support-item {
    margin-bottom: 1rem;
}

#support-content .support-button .support-item:last-child {
    margin-bottom: 0;
}

#support-content .support-button .support-item p {
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 0;
}



/* CONTACT CONTAINER */
#contact-content {
    margin-bottom: 4rem;
}

#contact-content .contact-title {
    margin-bottom: 4rem;
}

#contact-content .contact-title h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

#contact-content .contact-title p {
    font-size: 1.5rem;
    color: #747474;
}

#contact-content .contact-map .contact-item {
    margin-bottom: 4rem;
}

#contact-content .contact-map .contact-item h3 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

#contact-content .contact-map .contact-item p {
    font-size: 1.5rem;
    color: #747474;
}

#contact-content .contact-map .google-map iframe {
    border: 0;
    width: 100%;
    height: 40vh;
}
/* 
@media (min-width: 320px) and (max-width: 374.9px),
(min-width: 375px) and (max-width: 767.9px) {

    .container-fluid {
        padding: 0 1rem !important;
    }
    
    .support-title {
        margin-top: 8rem !important;
        margin-bottom: 1.5rem !important;
    }

    .contact-title {
        margin-bottom: 1.5rem;
    }

    .support-content {
        margin-bottom: 4rem;
    }

    .support-title h1,
    .contact-title h1 {
        margin-bottom: 1rem;
    }

    .support-link {
        border-radius: 0.25rem;
        padding: 1rem;
        margin-bottom: 1rem;
    }

    .support-item,
    .contact-item {
        margin-bottom: 1rem;
    }

    .support-content .support-item h2 {
        font-size: 1.25rem !important;
    }

    .contact-content .contact-item h3 {
        font-size: 1rem !important;
        margin-bottom: 1rem !important;
    }

    .support-content .support-item p {
        font-size: 0.75rem !important;
    }

    .google-map iframe {
        margin-bottom: 1rem;
    }

}

@media (min-width: 768px) and (max-width: 1023.9px) {

    .container-fluid {
        padding: 0 2rem !important;
    }

    .support-content {
        margin-bottom: 4rem;
    }

    .support-title h1,
    .contact-title h1 {
        margin-bottom: 2rem;
    }

    .support-title {
        margin-top: 10rem !important;
        margin-bottom: 3rem !important;
    }

    .contact-title {
        margin-bottom: 2rem;
    }

    .support-link {
        border-radius: 0.5rem;
        padding: 1.5rem;
        margin-bottom: 1rem;
    }

    .support-item,
    .contact-item {
        margin-bottom: 1rem;
    }

    .support-content .support-item h2 {
        font-size: 1.5rem !important;
    }

    .support-content .support-item p {
        font-size: 1rem !important;
    }

    .contact-content .contact-item h3 {
        font-size: 1.5rem !important;
        margin-bottom: 1rem !important;
    }

    .contact-content .contact-item p {
        font-size: 1.25rem !important;
    }

    .google-map iframe {
        margin-bottom: 2rem !important;
    }

}

@media (min-width: 1024px) and (max-width: 1280px) {

    .container-fluid {
        padding: 0 2.5rem !important;
    }

    .support-link {
        border-radius: 0.5rem;
        padding: 1.5rem;
        margin-bottom: 1rem;
    }

    .google-map iframe {
        margin-bottom: 2rem !important;
    }

} */

/*--- END / Brand Section ---*/